.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px  ;
  font-size: 18px;
  text-align: center;
  min-width: 400px;
  border-radius: 100px;
  background: rgba(#fff, .85);
  line-height: 30px;
  margin-bottom: 30px;
}



